/* dedesos.com 做最好的织梦模板 */
/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
	position:relative;
	width:688px;
	margin:0 auto;
	padding:52px 0 48px 0;
	height:318px;
}
#carousel {
	height:261px;
	width:688px;
	position:relative;
	margin-bottom:0.5em;
	font-size:12px;
	font-family: Arial;
}
.carousel-image {
	border:0;
	display:block;
}
.carousel-feature {
	position:absolute;
	top:-1000px;
	left:-1000px;
	cursor:pointer;
}
.carousel-feature .carousel-caption {
	position: absolute;
	right: -100px;
	height: 209px;
	width: 120px;
	top:28px;
	background: #40b0da;
	padding:15px;
}
.case_t {
	color:#fff;
	font:14px/1 'Microsoft Yahei';
	padding-top:10px;
}
.casemore {
	color:#18284a;
	text-align:right;
	float:right;
}
.carousel-feature .carousel-caption p {
	margin:0;
	line-height:20px;
	height:130px;
	padding:20px 0;
	width:100%;
	overflow:hidden;
	font-size:12px;
	color:#fff;
}
.tracker-summation-container {
	position:absolute;
	color:white;
	right:48px;
	top:230px;
	padding:3px;
	margin:3px;
	background-color:#000;
	visibility:hidden;
}
.tracker-individual-container {
	position:absolute;
	visibility:hidden;
	color:white;
	right:48px;
	top:210px;
	padding:0;
	margin:0;
}
.tracker-individual-container li {
	list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
	margin:0 3px;
	padding:0 3px;
	color:white;
	text-align:center;
	background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
	color:white;
	font-weight:bold;
	background-color:#000;
}
#carousel-left {
	position:absolute;
	bottom:119px;
	left:-100px;
	cursor:pointer;
}
#carousel-right {
	position:absolute;
	bottom:119px;
	right:-100px;
	cursor:pointer;
}
