/* dedesos.com 做最好的织梦模板 */
@charset "utf-8";
.float0831 {
	RIGHT: 1px;
	Z-INDEX: 99999;
	POSITION: absolute;
	TOP: 40px;
	color:#444;
}
.float0831 img {
	vertical-align:middle;
}
.float0831 A {
	COLOR: #00a0e9;
	line-height:24px;
}
.float0831 A:hover {
	COLOR: #ff8100;
	TEXT-DECORATION: none;
}
.float0831 .floatL {
	POSITION: relative;
	WIDTH: 28px;
	FLOAT: left;
}
.float0831 .floatL A {
	TEXT-INDENT: -9999px;
	DISPLAY: block;
	FONT-SIZE: 0px;
}
.float0831 .floatR {
	BACKGROUND: url(/imgs/float_bg.gif);
}
.float0831 .tp {
	BACKGROUND: url(/imgs/float_bg.gif);
}
.float0831 .cn {
	BACKGROUND: url(/imgs/float_bg.gif);
}
.float0831 .floatR {
	PADDING-BOTTOM: 15px;
	WIDTH: 130px;
	background: url(imgs/float_bg.gif) no-repeat -131px bottom;
	FLOAT: left;
	OVERFLOW: hidden;
}
.float0831 .tp {
	FONT-SIZE: 1px;
	HEIGHT: 10px;
	background: url(imgs/float_bg.gif) no-repeat 0 0;
}
.float0831 .cn {
	background: url(imgs/float_bg.gif) repeat-y -262px 0px #fff;
}
.float0831 .cn .htit {
	TEXT-INDENT: -9999px;
	HEIGHT: 36px;
	FONT-SIZE: 0px;
}
.float0831 .cn UL {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 14px;
	PADDING-RIGHT: 14px;
	PADDING-TOP: 0px;
	margin:0;
}
.float0831 .cn UL LI {
	LINE-HEIGHT: 36px;
	WORD-WRAP: break-word;
	HEIGHT: 36px;
	OVERFLOW: hidden;
	WORD-BREAK: normal;
	list-style-type: none;
}
.qqzx LI {
	BORDER-top: #e6e5e4 1px solid;
}
.telzx li {
	BORDER-top: #e6e5e4 1px solid;
}
.float0831 .titZx {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .titDh {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .titDc {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .icoZx {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .icoTc {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .icoFf {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .icoTl {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .btnOpen {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .btnOpen_n {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .btnCtn {
	BACKGROUND: url(imgs/float_s.gif) no-repeat;
}
.float0831 .titZx {
	BACKGROUND-POSITION: 5px -10px;
}
.float0831 .titDh {
	BACKGROUND-POSITION: 5px -66px;
}
.float0831 .titDc {
	BACKGROUND-POSITION: 5px -124px;
}
.float0831 .icoZx {
	BACKGROUND-POSITION: 2px -154px;
}
.float0831 .icoTc {
	BACKGROUND-POSITION: 0px -323px;
}
.float0831 .icoFf {
	BACKGROUND-POSITION: 2px -213px;
	PADDING-LEFT: 22px;
	DISPLAY: block;
	FONT-FAMILY: "宋体";
	FLOAT: left;
	font-size:12px;
}
.float0831 .icoTl {
	PADDING-LEFT: 20px;
	DISPLAY: block;
	FONT-FAMILY: "宋体";
	BACKGROUND-POSITION: 2px -266px;
	FLOAT: left;
	font-size:12px;
}
.float0831 .btnOpen {
	BACKGROUND-POSITION: -30px -396px;
}
.float0831 .btnOpen_n {
	BACKGROUND-POSITION: 0px -530px;
}
.float0831 .btnCtn {
	BACKGROUND-POSITION: 0px -396px;
}
.float0831 .icoZx {
	PADDING-LEFT: 28px;
	DISPLAY: block;
	FLOAT: left;
}
.float0831 .icoTc {
	PADDING-LEFT: 28px;
	DISPLAY: block;
	FLOAT: left;
	font-size:13px;
	line-height:36px;
}
.float0831 .icoFf {
	DISPLAY: block;
	FLOAT: left;
}
.float0831 .btnOpen {
	POSITION: relative;
	WIDTH: 28px;
	HEIGHT: 118px;
	TOP: 80px;
	LEFT: 2px;
}
.float0831 .btnOpen_n {
	POSITION: relative;
	WIDTH: 28px;
	HEIGHT: 118px;
	TOP: 80px;
	LEFT: 2px;
}
.float0831 .btnCtn {
	POSITION: relative;
	WIDTH: 28px;
	HEIGHT: 118px;
	TOP: 80px;
	LEFT: 2px;
}
.float0831 .btnOpen {
	TOP: 118px;
	LEFT: 1px;
}
.float0831 .btnOpen_n {
	TOP: 118px;
	LEFT: 1px;
}
.float0831 .btnCtn {
	TOP: 118px;
	LEFT: 2px;
}
.float0831 UL LI .titDc A {
	WIDTH: 80px;
	DISPLAY: block;
	HEIGHT: 36px;
}
.float0831 .qqzx LI.qq_top {
	BORDER-top: #ace5f9 1px solid;
}
.float0831 .telzx LI.qq_top {
	BORDER-top:none;
}
.float0831 .qqzx LI.qq_tip {
	BORDER-top:none;
}
.float0831 .qqzx LI.bot {
	BORDER-BOTTOM-STYLE: none;
}
.float0831 UL.webZx {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 164px;
	PADDING-RIGHT: 0px;
	BACKGROUND: url(imgs/webZx_bg.jpg) no-repeat;
	HEIGHT: 65px;
	PADDING-TOP: 0px;
}
.float0831 UL LI.webZx-in {
	BORDER-BOTTOM-STYLE: none;
	PADDING-LEFT: 5px;
	HEIGHT: 50px;
	PADDING-TOP: 8px;
}
.titDc {
	background: url(imgs/float_s.gif) no-repeat 0px -212px;
	PADDING-LEFT: 20px;
	DISPLAY: block;
	FONT-FAMILY: "微软雅黑";
}
